---
http_interactions:
- request:
    method: get
    uri: https://sandbox.emites.com.br/api/v1/takers?cnpj=1775
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count": 0, "next": null, "previous": null, "collection": []}'
      effective_url: https://sandbox.emites.com.br/api/v1/takers?cnpj=1775
  recorded_at: Fri, 28 Aug 2015 13:13:38 GMT
recorded_with: VCR 2.9.3
