---
http_interactions:
- request:
    method: put
    uri: https://sandbox.emites.com.br/api/v1/webhooks/15
    body:
      encoding: UTF-8
      string: '{"name":"RSpec integration"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links": [{"href": "https://sandbox.emites.com.br/api/v1/webhooks/15",
        "method": "GET", "rel": "self"}, {"href": "https://sandbox.emites.com.br/api/v1/webhooks/15",
        "method": "PUT", "rel": "update"}, {"href": "https://sandbox.emites.com.br/api/v1/webhooks/15",
        "method": "PATCH", "rel": "partial_update"}, {"href": "https://sandbox.emites.com.br/api/v1/webhooks/15",
        "method": "DELETE", "rel": "destroy"}], "id": 15, "account_id": 4, "name":
        "RSpec integration", "url": "http://requestb.in/1mayrfq1", "created_at": "2015-03-12T15:54:56.934Z"}'
      effective_url: https://sandbox.emites.com.br/api/v1/webhooks/15
  recorded_at: Thu, 12 Mar 2015 15:55:22 GMT
recorded_with: VCR 2.9.3
