---
http_interactions:
- request:
    method: get
    uri: https://sandbox.emites.com.br/api/v1/nfse/456/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 456, "status": "accepted", "description": "Processado pela Sefaz",
        "nfse_key": "NDLX-WEVS", "nfse_number": "527", "number": 10, "mirror_url":
        null, "xml_url": "https://sandbox.emites.com.br/api/v1/nfse/456/xml", "pdf_url":
        "https://sandbox.emites.com.br/api/v1/nfse/456/pdf", "environment": "sandbox",
        "nfse_errors": []}'
      effective_url: https://sandbox.emites.com.br/api/v1/nfse/456/status
  recorded_at: Mon, 16 Mar 2015 22:58:26 GMT
recorded_with: VCR 2.9.3
