---
http_interactions:
- request:
    method: post
    uri: https://sandbox.emites.com.br/api/v1/nfse/456/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": 456, "status": "cancelling", "description": "Cancelamento aguardando
        pela Sefaz", "nfse_key": "NDLX-WEVS", "nfse_number": "527", "number": 10,
        "mirror_url": null, "xml_url": "https://sandbox.emites.com.br/api/v1/nfse/456/xml",
        "pdf_url": null, "environment": "sandbox", "nfse_errors": []}'
      effective_url: https://sandbox.emites.com.br/api/v1/nfse/456/cancel
  recorded_at: Tue, 17 Mar 2015 21:10:34 GMT
recorded_with: VCR 2.9.3
