---
http_interactions:
- request:
    method: post
    uri: https://sandbox.emites.com.br/api/v1/nfse
    body:
      encoding: UTF-8
      string: '{"emitter_id":4,"rps_type":1,"serie":"a","emission_date":"2015-03-23T13:35:28Z","operation_nature":1,"rps_situation":1,"allow_incomplete":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      Location:
      - https://sandbox.emites.com.br/api/v1/nfse/564
    body:
      encoding: UTF-8
      string: '{"_links": [{"href": "https://sandbox.emites.com.br/api/v1/nfse/564",
        "method": "GET", "rel": "self"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564",
        "method": "DELETE", "rel": "destroy"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564/status",
        "method": "GET", "rel": "status"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564/cancel",
        "method": "POST", "rel": "cancel"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564/xml",
        "method": "GET", "rel": "xml"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564/pdf",
        "method": "GET", "rel": "pdf"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564/history",
        "method": "GET", "rel": "history"}, {"href": "https://sandbox.emites.com.br/nfse/show/564",
        "method": "GET", "rel": "html"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564",
        "method": "PUT", "rel": "update"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/564",
        "method": "PATCH", "rel": "partial_update"}], "nfse_errors": [], "service_values":
        {"deduction_amount": "0.0", "discount_conditioning_amount": "0.0", "city_tax_code":
        null, "calculation_base": null, "service_amount": null, "pis_amount": null,
        "other_retentions": "0.0", "inss_amount": null, "retained_iss": false, "iss_percentage":
        null, "csll_amount": null, "service_item_code": null, "retained_iss_amount":
        null, "nfse_liquid_amount": null, "unconditioned_discount": "0.0", "cofins_amount":
        null, "ir_amount": null, "iss_amount": null, "cnae_code": null, "city_code":
        null, "description": null}, "substitute_rps": null, "environment": "sandbox",
        "taker": null, "emitter_id": 4, "batch_id": null, "xml_url": null, "pdf_url":
        null, "id": 564, "is_complete": false, "status": "created", "description":
        "Aguardando o envio para a Sefaz.", "nfse_key": null, "nfse_number": null,
        "protocol": null, "send_nfse_taker": false, "is_api": true, "user_id": null,
        "number": 2103473471, "serie": "a", "rps_type": 1, "emission_date": "2015-03-23T13:35:28Z",
        "operation_nature": 1, "rps_situation": 1, "other_informations": null, "competence":
        null, "special_regime": null, "emitter_national_simple_optant": false, "emitter_cultural_promoter":
        false}'
      effective_url: https://sandbox.emites.com.br/api/v1/nfse
  recorded_at: Mon, 23 Mar 2015 13:35:31 GMT
recorded_with: VCR 2.9.3
