---
http_interactions:
- request:
    method: post
    uri: https://sandbox.emites.com.br/api/v1/nfse
    body:
      encoding: UTF-8
      string: '{"emitter_id":4,"rps_type":1,"serie":"a","emission_date":"2015-03-23T13:34:29Z","operation_nature":1,"rps_situation":1,"service_values":{"service_amount":1000.0,"deduction_amount":0,"retained_iss":false,"calculation_base":1000.0,"iss_percentage":5.0,"iss_amount":50.0,"pis_amount":0,"cofins_amount":0,"inss_amount":0,"ir_amount":0,"csll_amount":0,"service_item_code":"0105","city_tax_code":"010501","description":"RSPEC
        Servicos de informatica","city_code":3304557,"nfse_liquid_amount":1000.0,"discount_conditioning_amount":0}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      Location:
      - https://sandbox.emites.com.br/api/v1/nfse/563
    body:
      encoding: UTF-8
      string: '{"_links": [{"href": "https://sandbox.emites.com.br/api/v1/nfse/563",
        "method": "GET", "rel": "self"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563",
        "method": "DELETE", "rel": "destroy"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563/status",
        "method": "GET", "rel": "status"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563/cancel",
        "method": "POST", "rel": "cancel"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563/xml",
        "method": "GET", "rel": "xml"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563/pdf",
        "method": "GET", "rel": "pdf"}, {"href": "https://sandbox.emites.com.br/api/v1/nfse/563/history",
        "method": "GET", "rel": "history"}, {"href": "https://sandbox.emites.com.br/nfse/show/563",
        "method": "GET", "rel": "html"}], "nfse_errors": [], "service_values": {"deduction_amount":
        "0.00", "discount_conditioning_amount": "0.00", "city_tax_code": "010501",
        "calculation_base": "1000.00", "service_amount": "1000.0", "pis_amount": "0.00",
        "other_retentions": "0.00", "inss_amount": "0.00", "retained_iss": false,
        "iss_percentage": "5.0", "csll_amount": "0.00", "service_item_code": "0105",
        "retained_iss_amount": null, "nfse_liquid_amount": "1000.00", "unconditioned_discount":
        "0.00", "cofins_amount": "0.00", "ir_amount": "0.00", "iss_amount": "50.00",
        "cnae_code": null, "city_code": 3304557, "description": "RSPEC Servicos de
        informatica"}, "substitute_rps": null, "environment": "sandbox", "taker":
        null, "emitter_id": 4, "batch_id": null, "xml_url": null, "pdf_url": null,
        "id": 563, "is_complete": true, "status": "scheduled", "description": "Agendado
        o processamento da NFSe", "nfse_key": null, "nfse_number": null, "protocol":
        null, "send_nfse_taker": false, "is_api": true, "user_id": null, "number":
        2103473470, "serie": "a", "rps_type": 1, "emission_date": "2015-03-23T13:34:29Z",
        "operation_nature": 1, "rps_situation": 1, "other_informations": null, "competence":
        null, "special_regime": null, "emitter_national_simple_optant": false, "emitter_cultural_promoter":
        false}'
      effective_url: https://sandbox.emites.com.br/api/v1/nfse
  recorded_at: Mon, 23 Mar 2015 13:34:31 GMT
recorded_with: VCR 2.9.3
